<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To Do</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>

    <nav class="navbar navbar-dark bg-dark">
        <a href="/" class="navbar-brand">Welcome</a>
    </nav>

    <div class="container">
        <div class="row mt-5">
            <div class="col-md-7">
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Nombre</th>
                            <th>Direccion</th>
                            <th>Telefono</th>
                            <th colspan="2">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% if (data) { %>
                            <% for(var i=0; i < data.length; i++) { %>
                                <tr>
                                    <td>
                                        <%= (i + 1) %>
                                    </td>
                                    <td>
                                        <%= data[i].name %>
                                    </td>
                                    <td>
                                        <%= data[i].adress %>
                                    </td>
                                    <td>
                                        <%= data[i].phone %>
                                    </td>
                                    <td class="d-flex gap-2">
                                        <a href="/update/<%= data[i].id %>" class="btn btn-info">
                                            Edit
                                        </a>
                                    <td><a onclick="return comfirm('Estas seguro de Eliminar');"
                                            href="/delete/<%= data[i].id %>" class="btn btn-danger">
                                            Delete
                                        </a></td>
                                    </td>
                                </tr>
                                <% } %>
                                    <% } %>
                    </tbody>
                </table>
            </div>
            <div class="col-md-5">
                <div class="card">
                    <div class="card-body">
                        <form action="/add" method="POST">
                            <div class="form-group">
                                <input type="text" name="name" placeholder="Nombre" class="form-control">
                            </div>
                            <div class="form-group">
                                <input type="text" name="adress" placeholder="Direccion" class="form-control">
                            </div>
                            <div class="form-group">
                                <input type="text" name="phone" placeholder="Telefono" class="form-control">
                            </div>
                            <button type="submit" class="btn btn-primary">Save</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>





</body>

</html>